/*
Copyright 2009 sho shirasaka.
http://ameblo.jp/design-agent/
*/
*{margin:0;padding:0;}
body{background:#000000;}
a{outline:none;}
li{list-style-type:none;}
#dqmenu{
	position:absolute;
	display:block;
	top:450px;
	left:20px;
	width:120px;
	background:url(../img/dqmenu_bottom.png) no-repeat left bottom;
	font-size:12px!important;
	padding-bottom:8px;
}
#dqmenu li a{display:block;width:120px;text-indent:-9999px;}
#dqmenu .top{display:block;width:120px;height:20px;background:url(../img/dqmenu.png) no-repeat top left;text-indent:-9999px;}
#dqmenu .menu01 a{height:30px;background:url(../img/dqmenu.png) no-repeat 0 -10px;}
#dqmenu .menu02 a{height:30px;background:url(../img/dqmenu.png) no-repeat 0 -40px;}
#dqmenu .menu03 a{height:30px;background:url(../img/dqmenu.png) no-repeat 0 -70px;}
#dqmenu .menu04 a{height:30px;background:url(../img/dqmenu.png) no-repeat 0 -100px;}


